
@{
    ViewBag.Title = "Manage";
}

@*<h3>櫃位：</h3>@Model.SelectedCanibetID
<h3>櫃位類別：</h3> @Model.SelectedFunctionType*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/css")


<table data-toggle="table" width="300px">
    <thead>
        <tr>
            <th>櫃位</th>
            <th>目前類別</th>
            <th>顯示方式</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: canibetList">
        <tr>
            <td data-bind ="text: id"></td>
            <td data-bind="text: functionType"></td>
            <td data-bind="text: detailType"></td>
            <td><a data-bind="click: $parent.redirectEditPage" style="cursor:pointer">編輯</a></td>
            <td><a data-bind="click: $parent.redirectCanibetPage" style="cursor:pointer" title="開新視窗">櫃位頁</a></td>
        </tr>
    </tbody>
</table>


<script>
    var viewModel = function ()
    {
        var self = this;
        self.canibetList = ko.observableArray([]);

        GetCaniBets();

        function GetCaniBets() {
            //Ajax Call Get All Employee Records
            $.ajax({
                type: "GET",
                url: "/api/Canibet/GetAllCanibet",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    self.canibetList(data); //Put the response in ObservableArray
                },
                error: function (error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
            //Ends Here
        }

        self.redirectEditPage = function(data) {
            location.href = '/Canibet/UpdateCanibet/?ID=' + data.id;
        }

        self.redirectCanibetPage = function (data) {
            window.open('/Canibet/Index/' + data.id);
        }
    }



    ko.applyBindings(new viewModel());
 </script>