@using HighSpeedRail.Enum

@{
    ViewBag.Title = "UpdateCanibet";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/css")

<table style="margin: 20px 15px 20px 15px; width:900px">
    <tr>
        <th width="15%">櫃位：
        </th>
        <td>
            <input type="text" id="=ID" data-bind="value: id" disabled="disabled" />
        </td>
    </tr>
    <tr>
        <th>櫃位類別：</th>
        <td>
            <input type="radio" id="funcdtionType1" name="functionType" value="1" data-bind="checked: functionTypeSelectValue" /><label>(1)當日票 /預售票</label>
            <input type="radio" id="funcdtionType2" name="functionType" value="2" data-bind="checked: functionTypeSelectValue" /><label>(2)孕婦/年長/無障疑專用</label>
            <input type="radio" id="funcdtionType3" name="functionType" value="3" data-bind="checked: functionTypeSelectValue" /><label>(3)商務車廂 / 升等</label>
            <input type="radio" id="funcdtionType4" name="functionType" value="4" data-bind="checked: functionTypeSelectValue" /><label>(4)定期票/回數票</label>
            <input type="radio" id="funcdtionType5" name="functionType" value="5" data-bind="checked: functionTypeSelectValue" /><label>(5)企業客戶</label>
        </td>
    </tr>
    <tr>
        <th>顯示方式：</th>
        <td>
            <input type="radio" id="detailType1" value="0" data-bind="checked: detailTypeSelectValue " /><label>跑馬燈</label>
            <input type="radio" id="detailType2" value="1" data-bind="checked: detailTypeSelectValue" /><label>圖片</label>
            <input type="radio" id="detailType3" value="2" data-bind="checked: detailTypeSelectValue" /><label>影片</label>
        </td>
    </tr>
    <tr data-bind="visible: detailTypeSelectValue() === '0'">
        <td colspan="2" width="100%">
            <label for="announcement">跑馬燈文字：</label><input type="text" id="announcement" data-bind="value: detailAnnouncement" />
        </td>
    </tr>
    <tr data-bind="visible: detailTypeSelectValue() === '1'">
        <td colspan="2" width="100%">
            <input type="file" id="pictureFile" value="瀏覽" accept="image/*" class="btn btn-default" style="display:inline" />
            <input type="button" id="btnUploadPicture" value="上傳圖片" data-bind="click : UploadPicture" class="btn btn-default"  />
        </td>
    </tr>
    <tr data-bind="visible: detailTypeSelectValue() === '1'">
        <th>已上傳圖片列表</th>
        <td>
            <div data-bind="foreach: detailPictureList">
                <label data-bind="text: fileName"></label>
                <input type="button" data-bind="click: $parent.DeleteFile" value="刪除" class="btn btn-default" /><br />
            </div>
        </td>
    </tr>
    <tr data-bind="visible: detailTypeSelectValue() === '2'">
        <td colspan="2" width="100%">
            <input type="file" id="videoFile" value="瀏覽" accept="video/*" style="display:inline" class="btn btn-default" />
            <input type="button" id="btnUploadPicture" value="上傳影片" data-bind="click : UploadVideo" class="btn btn-default" />
        </td>
    </tr>
    <tr data-bind="visible: detailTypeSelectValue() === '2'">
        <th>已上傳影片列表</th>
        <td>
            <div data-bind="foreach: detailVideoList">
                <label data-bind="text: fileName"></label>
                <input type="button" data-bind="click: $parent.DeleteFile" value="刪除" class="btn btn-default" /><br />
            </div>
        </td>
    </tr>

</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" data-bind="click : UpdateCanibet" class="btn btn-default" value="更新" />
        <input type="button" onclick="javascript: location.href='../Manage'" class="btn btn-default" value="返回" />
    </div>
</div>

@*<div >
    <h2>請選擇</h2>
    <h3>櫃位：</h3>
    <input type="text" id="=ID" data-bind="value: id" disabled="disabled" />
    <h3>櫃位類別：</h3>
    <input type="radio" id="funcdtionType1" name="functionType" value="1" data-bind="checked: functionTypeSelectValue" /><label>(1)當日票 /預售票</label>
    <input type="radio" id="funcdtionType2" name="functionType" value="2" data-bind="checked: functionTypeSelectValue" /><label>(2)孕婦/年長/無障疑專用</label>
    <input type="radio" id="funcdtionType3" name="functionType" value="3" data-bind="checked: functionTypeSelectValue" /><label>(3)商務車廂 / 升等</label>
    <input type="radio" id="funcdtionType4" name="functionType" value="4" data-bind="checked: functionTypeSelectValue" /><label>(4)定期票/回數票</label>
    <input type="radio" id="funcdtionType5" name="functionType" value="5" data-bind="checked: functionTypeSelectValue" /><label>(5)企業客戶</label>
    <h3>顯示方式：</h3>


    <div id="div_announcement" data-bind="visible: detailTypeSelectValue() === '0'">
        <input type="text" id="announcement" data-bind="value: detailAnnouncement" />
    </div>
    <div id="div_picture" data-bind="visible: detailTypeSelectValue() === '1'">
        <input type="file" id="pictureFile" value="瀏覽" accept="image/*" />
        <input type="button" id="btnUploadPicture" value="上傳圖片" data-bind="click : UploadPicture" />
        <ol data-bind="foreach: detailPictureList">
            <li data-bind="text: fileName"></li> <a data-bind="value: canibetDetailID, click: DeleteFile" style="cursor:pointer">刪除</a>
        </ol>
    </div>
    <div id="div_video" data-bind="visible: detailTypeSelectValue() === '2'" >
        <input type="file" id="videoFile" value="瀏覽" accept="video/*" />
        <input type="button" id="btnUploadPicture" value="上傳影片" data-bind="click : UploadVideo" />
        <ol data-bind="foreach: detailVideoList">
            <li data-bind="text: fileName"></li> <a data-bind="value: canibetDetailID, click: DeleteFile" style="cursor:pointer">刪除</a>
        </ol>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" data-bind="click : UpdateCanibet" class="btn btn-default" value="更新" />
            <input type="button" onclick="javascript: location.href='../Manage'" class="btn btn-default" value="返回" />
        </div>
    </div>
</div>*@

<script>

    var viewModel = function () {
        var self = this;
        self.id = ko.observable(0);
        self.functionTypeSelectValue = ko.observable('1');
        self.detailTypeSelectValue = ko.observable('0')
        self.detailPictureList = ko.observableArray([]);
        self.detailVideoList = ko.observableArray([]);
        self.detailAnnouncement = ko.observable('');
        GetCaniBet();
        function GetCaniBet() {
            var praramID = getParameterByName('ID');
            //Ajax Call Get All Employee Records
            $.ajax({
                type: "GET",
                url: "/api/Canibet/getCanibet/" + praramID,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    self.id(data.id);
                    self.functionTypeSelectValue(data.functionType.toString());
                    self.detailTypeSelectValue(data.detailType.toString());
                    if (data.detailType == 0) GetCanibetDetail(self.id(), 0);
                    else if (data.detailType == 1) GetCanibetDetail(self.id(), 1);
                    else if (data.detailType == 2) GetCanibetDetail(self.id(), 2);
                  //  var result = ko.mapping.fromJS(data);
                   // self.canibet(JSON.parse(data));
                    
                  //  self.canibet(data); //Put the response in ObservableArray
                },
                error: function (error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
            //Ends Here
        }

        function GetCanibetDetail(id, detailType) {
            $.ajax({
                type: "GET",
                url: "/api/Canibet/GetCanibetFile/" + id + "/" + detailType,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (detailType == 0) {
                        self.detailAnnouncement(data[0].announcement);
                    }
                    if (detailType == 1)
                        self.detailPictureList(data);
                    else if (detailType == 2)
                        self.detailVideoList(data);
                    //  var result = ko.mapping.fromJS(data);
                    // self.canibet(JSON.parse(data));

                    //  self.canibet(data); //Put the response in ObservableArray
                },
                error: function (error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        }

        self.UpdateCanibet = function () {
            var data = new Object();
            data.ID = self.id;
            data.FunctionType = self.functionTypeSelectValue;
            data.DetailType = self.detailTypeSelectValue;
            data.Announcement = self.detailAnnouncement;
            $.ajax({
                type: "POST",
                url: "/api/Canibet/updateCanibet",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON(data),
                success: function (data) {
                    location.href = '/Canibet/Manage';
                },
                error: function (error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        }

        self.UploadPicture = function () {
            var data = new FormData();

            var files = $("#pictureFile").get(0).files;

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
            }

            // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/api/Canibet/uploadFile/" + self.id() + "/1",
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    GetCanibetDetail(self.id(), 1);
                    $("#pictureFile").clear();
                },
                error: function (error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        }

        self.UploadVideo = function () {
            var data = new FormData();

            var files = $("#videoFile").get(0).files;

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
            }

            // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/api/Canibet/uploadFile/" + self.id() + "/2",
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                 GetCanibetDetail(self.id(), 2);
                },
                error: function (error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        }

        self.DeleteFile = function (detail) {

            $.ajax({
                type: "DELETE",
                url: "/api/Canibet/delCanibetFile/" + detail.canibetDetailID,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    GetCanibetDetail(self.id(), 1);
                    GetCanibetDetail(self.id(), 2);
                },
                error: function (error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        }

        this.detailTypeSelectValue.subscribe(function (detailType) {
            if (detailType == '0')
                GetCanibetDetail(self.id(), 0);
            if (detailType == '1')
                GetCanibetDetail(self.id(), 1);
            else if(detailType == '2')
                GetCanibetDetail(self.id(), 2);
        });

    }




    $(document).ready(function () {

        ko.applyBindings(new viewModel());
    });


    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>